 /* ν‘Έν„°ννΈ */
 footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }