
/*  헤더 */
header{
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: 2;
}
header nav{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: no-wrap;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
header h1 a{
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    color: #fff;
}
header .nav-btns{ 
    display: flex;
    align-items: center;
}
header .menu-btn{
    margin-right: 5rem;
}
header .menu-btn a{ 
    font-size: 1.1rem;
    color: #fff;
    padding: 0 1rem;
}
header .menu-btn a:hover{
    opacity: .8;
    border-bottom: 3px solid #fff;
}
header .login-btn{
    display: flex;
    flex-shrink: 1;
    gap: 20px;
}
header .login-btn a{ 
    font-size: 1.1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3rem;
    padding: .2rem 1rem;
}
header .login-btn a:hover{
    background-color: #fff;
    color: #333;
    font-weight: 600;
}
  /* 헤더배경 */
  .background{
    position: relative;
    height: 100px;
    background-image: url(../asssets/imgs/pine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
}
.background::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}
.material-symbols-outlined{
    display: none;
}