@import url(../css/reset.css);
@import url(../css/header.css);

/* 검색내용 */
.main{
    position: relative;
    width: 100%;
    height: 150vh;
}
.contents{
    max-width: 80%;
    height: 80vh;
    margin: 2rem auto;
    overflow: auto;
}
/* 스크롤바 꾸미기 - 시작 */
.contents::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
    height: 0;
    cursor: help;
  }
.contents::-webkit-scrollbar-thumb {
   background-color: rgb(102, 102, 102); /*스크롤바의 색상*/
   border-radius: 15rem;
  }
.contents::-webkit-scrollbar-thumb:active {
    background-color: rgb(61, 53, 53);
  }
   
.contents::-webkit-scrollbar-track {
    background-color: rgb(194, 194, 194); /*스크롤바 트랙 색상*/
    border-radius: 15rem;
  }
/* 스크롤바 꾸미기 - 끝*/
.contents p{
    margin-bottom: .5rem ;
}
.highlight{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 104);
}
.show{
  display: block;
}

@media (max-width: 420px) {
  .show{
      display: flex !important;
  }
  header .nav-btns{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 13rem;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    z-index: 50;
    display: none;
}
header .menu-btn{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header .menu-btn a{
    margin-left: 0;
    width: 100%;
}
header .menu-btn a:hover{
  opacity: .8;
  border: none;
}
header .login-btn{
    margin: 0 auto;
    gap: 15px;
    margin-top: 5rem;
    text-align: center;
}
  header h1 a{
      font-size: 1.5rem;
      color: #fff;
  }
  .material-symbols-outlined{
      display: block;
      color: #fff;
      cursor: pointer;
  }
  main .wrapper form{
      width: 100%;
  }
  #serachbible{
      font-size: 1.2rem;
      left: 0;
      transform: none;
  }
  main .wrapper .input-btn{
      display: none;
  }
  main .wrapper .random-paragraph h3::-webkit-scrollbar {
      display: none;
    }
  main .wrapper .random-paragraph h3{
      font-size: 1.1rem;
      overflow: auto;
  }
  main .wrapper .random-paragraph p{
      font-size: .8rem;
  }
  main .wrapper .multi-contents {
      gap: 20px;
  }
  main .wrapper .multi-contents .bible-game,
  main .wrapper .multi-contents .pray-note{
      height: 200px;
  }
  main .wrapper .multi-contents .bible-game h3,
  main .wrapper .multi-contents .pray-note h3{
      font-size: 1.1rem;
  }
  .mobile-background{
      width: 100%;
      height: 500px;
      background-color: rgba(0,0,0,.8);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: none;
  }
.loading-Phrases{
  font-size: 1.2rem;
}
.contents h4{
  font-size: 1rem;
}
.contents p{
  font-size: 1rem;
}

}