@charset "UTF-8";
@import url(../css/reset.css);
@import url(../css/footer.css);
header {
  width: 100vw;
  height: 100px;
  position: absolute;
  z-index: 25;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header h1 a {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  color: #fff;
}

header .nav-btns {
  display: flex;
}

header .menu-btn {
  margin-right: 5rem;
}

header .menu-btn a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  padding: 0 1rem;
  gap: 130px;
}

header .menu-btn a:hover {
  opacity: 0.8;
  border-bottom: 3px solid #fff;
}

header .login-btn {
  display: flex;
  flex-shrink: 1;
  gap: 20px;
}

header .login-btn a {
  font-size: 1.1rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3rem;
  padding: 0.2rem 1rem;
}

header .login-btn a:hover {
  background-color: #fff;
  color: #333;
  font-weight: 600;
}

.material-symbols-outlined {
  display: none;
}

.background {
  position: relative;
  height: 400px;
  background-image: url(../asssets/imgs/pine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
}

.background::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  width: 100%;
  height: 100vh;
}

main .wrapper {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
}

main .wrapper form {
  width: 68rem;
  height: 100px;
  display: flex;
  flex-shrink: 1;
  margin: 0 auto;
}

main .wrapper input {
  width: 50rem;
  height: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  outline: none;
  position: relative;
  bottom: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

main .wrapper input:focus {
  background: rgba(255, 255, 255, 0.7);
}

main .wrapper .input-btn {
  display: inline-block;
  position: relative;
  top: -8rem;
  right: -8rem;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 60px;
  padding: 0 0.8rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.2rem;
  background-color: rgb(23, 70, 158);
  color: #fff;
  z-index: 5;
}

main .wrapper .input-btn:hover {
  background-color: rgb(44, 104, 214);
  font-weight: 600;
  cursor: pointer;
}

main .wrapper .random-paragraph {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main .wrapper .random-paragraph h3 {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  font-family: "Noto Serif KR", serif;
  position: relative;
  z-index: 2;
}

main .wrapper .random-paragraph::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

main .wrapper .random-paragraph p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Noto Serif KR", serif;
}

main .wrapper .multi-contents {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}

main .wrapper .multi-contents .bible-game {
  width: 400px;
  height: 400px;
  background-image: url("../asssets/imgs/typewriter.jpg");
  border-radius: 3rem;
  background-size: cover;
  background-position: center;
}

main .wrapper .multi-contents .pray-note {
  width: 400px;
  height: 400px;
  background-image: url("../asssets/imgs/praynote.jpg");
  border-radius: 3rem;
  background-size: cover;
  background-position: center;
}

/* 스크롤바 꾸미기 - 시작 */
::-webkit-scrollbar {
  width: 18px; /*스크롤바의 너비*/
  height: 0;
  cursor: help;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187); /*스크롤바의 색상*/
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(61, 53, 53);
}

::-webkit-scrollbar-track {
  background-color: rgb(214, 214, 214); /*스크롤바 트랙 색상*/
}

/* 스크롤바 꾸미기 - 끝*/
.loading-Phrases {
  display: block;
  width: 300px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bible-game {
  cursor: pointer;
}

.bible-game:hover {
  opacity: 0.8;
  transform: rotateZ(-3deg);
}

.bible-game h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding-top: 5rem;
}

.pray-note {
  cursor: pointer;
}

.pray-note:hover {
  opacity: 0.8;
  transform: rotateZ(-3deg);
}

.pray-note h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding-top: 5rem;
}

.show {
  display: block;
}

@media (max-width: 420px) {
  .show {
    display: flex !important;
  }
  .background {
    height: 250px;
  }
  header .nav-btns {
    position: relative;
    top: 12rem;
    width: 600px;
    text-align: center;
    flex-wrap: wrap;
    z-index: 50;
    display: none;
  }
  header .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  header .login-btn {
    gap: 15px;
    margin-top: 5rem;
    margin-left: -2.5rem;
    text-align: center;
  }
  header h1 a {
    font-size: 1.5rem;
    color: #fff;
  }
  .material-symbols-outlined {
    display: block;
    color: #fff;
    cursor: pointer;
  }
  #serachbible {
    width: 19rem;
    font-size: 1.2rem;
    left: 0;
    transform: none;
  }
  main .wrapper .input-btn {
    display: none;
  }
  main .wrapper .random-paragraph h3::-webkit-scrollbar {
    display: none;
  }
  main .wrapper .random-paragraph h3 {
    font-size: 1.1rem;
    overflow: auto;
  }
  main .wrapper .random-paragraph p {
    font-size: 0.8rem;
  }
  main .wrapper .multi-contents {
    gap: 20px;
  }
  main .wrapper .multi-contents .bible-game,
main .wrapper .multi-contents .pray-note {
    height: 200px;
  }
  main .wrapper .multi-contents .bible-game h3,
main .wrapper .multi-contents .pray-note h3 {
    font-size: 1.1rem;
  }
  .mobile-background {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
  }
}/*# sourceMappingURL=style.css.map */